@import "tailwindcss";

@theme {
  --color-navy-950: #0A0C1C;
  --color-blue-950: #1B1937;
  --color-purple-500: #AB5CDB;

  --font-inter: "Inter", sans-serif;
  --font-lexend: "Lexend Deca", sans-serif;
  --text-base: 15px;
  --leading-base: 165%;

  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;
}

:root {
  font-family: "Inter", sans-serif;
}